body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.split-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    justify-items: center;
}

div.left-aside {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button.disabled {
    background-color: #cccccc;
    cursor: default;
}

button.disabled:hover {
    background-color: #cccccc;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}

p.bold,
span.bold {
    font-weight: bold;
}