<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une partie</title>
    <script type="module" src="backlog.js" defer></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <h1>Créer une nouvelle partie</h1>
    </header>
    <main>
        <form id="add-backlog-form" action="../game/game.html">
            <label for="backlog-count">Nombre de fonctionnalités (max : 20) :</label>
            <input type="number" id="backlog-count" name="backlog-count" min="1" max="20" value="1" required>
            <div id="backlog-names"></div>
            <button id="button_submit" type="submit">Valider</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Planning Poker. Tous droits réservés.</p>
    </footer>
</body>

</html>