<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Poker - Cartes</title>
    <script type="module" src="game-resume.js" defer></script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./game-resume.css">
</head>

<body>
    <header>
        <h1 id="resume-title">Resume de la game : </h1>
    </header>
    <main>
        <div class="left-aside">
            <aside id="backlogs-container">
            </aside>
            <div id="backlog-data">
                <h3></h3>
                <p></p>
                <button id="backlog-vote"></button>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Planning Poker. Tous droits réservés.</p>
    </footer>
</body>

</html>